* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f7f9;
}

.btn-primary {
  background: linear-gradient(90deg, #2A4BDE 0%, rgba(110, 42, 222, 0.74) 58.25%, rgba(175, 42, 222, 0.68) 104.52%) !important;
  border: none !important;
  // width: 200px !important;
}

.btn-secondary {
  background: none;
  color: #152c5b;
  border-radius: 50rem;
  position: relative;
  box-sizing: border-box;

  $border: 2px;
  background: #f5f7f9;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 50rem;

  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(90deg, #2A4BDE 0%, rgba(110, 42, 222, 0.74) 58.25%, rgba(175, 42, 222, 0.68) 104.52%);
  }

  &::before:hover {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(90deg, #2A4BDE 0%, rgba(110, 42, 222, 0.74) 58.25%, rgba(175, 42, 222, 0.68) 104.52%);
  }

  &:hover {
    background: none;
    color: #152c5b;
    border-radius: 50rem;
    position: relative;
    box-sizing: border-box;

    $border: 2px;
    background: #f5f7f9;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 50rem;
  }
}

.brand-icon {
  img {
    width: 4rem;
  }
}

.greeting-text {
  background: linear-gradient(90deg, #2A4BDE 0%, rgba(110, 42, 222, 0.74) 58.25%, rgba(175, 42, 222, 0.68) 104.52%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background-color: #f5f7f9;
  border-bottom: 1px solid #bfbfbf;
  width: 100%;

  .nav-back {
    color: $gray-900;
    display: flex;
    align-items: center;
    left: 0;
    position: absolute;
    text-decoration: none;

    span.arrow{
      margin-right: 5px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  .navbar {
    height: 80px;

    .navbar-nav {
      li.nav-item {
        &.active {
          button.nav-link {
            background: linear-gradient(90deg, #2A4BDE 0%, rgba(110, 42, 222, 0.74) 58.25%, rgba(175, 42, 222, 0.68) 104.52%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        button {
          &.nav-link {
            color: $gray-900;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            letter-spacing: 0.5px;
            padding-left: 1rem;
            padding-right: 1rem;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              background: linear-gradient(90deg, #2A4BDE 0%, rgba(110, 42, 222, 0.74) 58.25%, rgba(175, 42, 222, 0.68) 104.52%);
              height: 2px;
              width: 0;
              left: 0;
              bottom: 0;
              transition: 0.3s;
            }
            &:hover::after {
              width: 100%;
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  background-color: #f5f7f9;
  border-top: 1px solid #bfbfbf;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 3px;
  position: fixed;
  z-index: 99999;

  ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li.nav-item {
      display: inline-block;

      .nav-link {
        &.back {
          img {
            width: 50px;
            height: 50px;
          }
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}


section {
  margin-bottom: 70px;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.text-paragraph {
  color: #b3b3b3;
  font-weight: 300;
}

.image-hero {
  height: 305px;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  img {
    max-height: 305px;
  }
}

.ability-item {
  &.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 25px #e5e5e5;
    width: 165px;
    height: 165px;
  }

  img {
    width: 70px;
    height: 70px;
  }
}

.project-item, 
.certificate-item {
  .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 25px 3px #E5E5E5;
    overflow: hidden;

    figure {
      width: 100%;
      height: 10rem;
      overflow: hidden;
      border-radius: 15px 15px 0px 0px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    p {
      color: #b3b3b3;
      font-size: small;
      font-weight: 300;
    }
  }
}

footer {
  border-top: 1px solid #bfbfbf;
  width: 100%;
  padding-bottom: 60px;

  .sosmed {
    img {
      width: 36px;
      height: 36px;
      padding-right: 10px;
    }
  }
}

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-detail__image {
  .card {
    border: 2px solid #BFBFBF;
    border-radius: 10px;
  }  
}

.img-wrapper {
  height: 100%;
  margin-bottom: 0;
  border-radius: 0.9375rem;
  overflow: hidden;
}

.stack {
  display: inline-block;
  color: #B3B3B3;
  border: 2px solid #BFBFBF;
  border-radius: 3px;
  padding: 6px 13px;
  margin-right: 0.732rem;
  margin-bottom: 0.732rem;
}

.arrow-carousel {
  position: absolute;
  bottom: 55px;
  font-size: 2rem;

  &.right {
    margin-left: 10px;
  }

  &.left {
    z-index: 99;
    margin-left: -25px;
  }
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .mobile-menu {
    display: none;
  }

  .hero {
    margin-top: 6rem;
  }

  .image-hero {
    margin-top: 0;
    height: 405px;

    &.hero-md-start {
      justify-content: start;
    }

    &.hero-md-end {
      justify-content: end;
    }

    img {
      max-height: 405px;
    }
  }

  footer {
    padding-bottom: 0;
  }
}
