* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f7f9;
}

.brand-text-icon {
  color: $primary;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;

  &:hover {
    color: $primary;
  }

  span {
    font-weight: 300;
  }
}

header {
  background-color: #f5f7f9;
  border-bottom: 1px solid #bfbfbf;
  width: 100%;

  .navbar {
    height: 80px;

    .navbar-nav {
      li.nav-item {
        &.active {
          button.nav-link {
            color: $primary;
          }
        }
        button {
          &.nav-link {
            color: $gray-900;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            letter-spacing: 0.5px;
            padding-left: 1rem;
            padding-right: 1rem;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              background-color: $secondary;
              height: 2px;
              width: 0;
              left: 0;
              bottom: 0;
              transition: 0.3s;
            }
            &:hover::after {
              width: 100%;
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  background-color: #f5f7f9;
  border-top: 1px solid #bfbfbf;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 99;

  ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li.nav-item {
      display: inline-block;

      .nav-link {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.btn-secondary {
  background-color: #e5e9f2;
  color: #152c5b;

  &:hover {
    background-color: #dee3ef;
    color: #152c5b;
  }
}

section {
  margin-bottom: 70px;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.text-paragraph {
  color: #b3b3b3;
  font-weight: 300;
}

.image-hero {
  height: 305px;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  img {
    max-height: 305px;
  }
}

.ability-item {
  &.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 25px #e5e5e5;
    width: 165px;
    height: 165px;
  }

  img {
    width: 70px;
    height: 70px;
  }
}

.project-item {
  .card {
    border: none;
    border-radius: 15px;

    figure {
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    p {
      color: #b3b3b3;
      font-size: small;
      font-weight: 300;
    }
  }
}

footer {
  border-top: 1px solid #bfbfbf;
  width: 100%;
  padding-bottom: 4rem;

  .sosmed {
    img {
      width: 36px;
      height: 36px;
      padding-right: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .mobile-menu {
    display: none;
  }

  .hero {
    margin-top: 6rem;
  }

  .image-hero {
    margin-top: 0;
    height: 405px;

    &.hero-md-start {
      justify-content: start;
    }

    &.hero-md-end {
      justify-content: end;
    }

    img {
      max-height: 405px;
    }
  }

  footer {
    padding-bottom: 0;
  }
}
